$primary:  #FF5400;

$font-light: #FFF;
$font-grey:  #788;
$font-dark  :#000;


$border-light:#FFF;
$border-grey-light: #a7A7A7;
$border-grey: #444444;


$background-light : #fff;
$background-grey-light:#EEE;
$background-grey: #a7A7A7;
$background-grey-dark : #363636;
$background-dark : #151515;
$background-dark-absolute:#000;


$success : #69AF20;